<% include partials/header %>
    <form action="/libraries" method="POST">
        <input required placeholder="name" type="text" name="library[name]"/>
        <br/>
        <input required placeholder="location" type="text" name="library[location]"/>
        <br/>
        <input required placeholder="rating" type="text" name="library[rating]"/>
        <br/>
        <input required placeholder="description" type="text" value= "Stuff is cool here!!!" name="library[description]"/>
        <button>Submit</button>
    </form>
<% include partials/footer %>