<% include partials/header %>
    <h1>
        <%= library.name %>
    </h1>

    <h2>
        <%= library.location %>
    </h2>

    <h3>
        <%= library.rating %>
    </h3>

    <p>
        <%= library.description %>
    </p>

    <a href="/libraries">
        Go back
    </a>
<% include partials/footer %>